{% extends "main.html" %}
{% block header %}
<div class="container-fluid h-100">
	<div class="row h-100">
		<div class="col-3 bg-secondary text-white">
			<div class="row">
				<ul class="nav flex-column">
					<div class="text-white py-4" style="text-align: center; padding: 15px;">
						<h6 >Choose Subject</h6>
					</div>
					<li class="nav-item dropdown dropend">
						<a class="nav-link dropdown-toggle  text-white py-4" data-bs-toggle="dropdown" href="#" role="button" style="text-align: center;
						padding: 15px;" aria-expanded="false">Grade-8</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="{{ url_for('maths') }}">Mathematics</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Physics</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Chemistry</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Biology</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown dropend">
						<a class="nav-link dropdown-toggle text-white py-4" data-bs-toggle="dropdown" href="#" role="button" style="text-align: center;
						padding: 15px;" aria-expanded="false">Grade-9</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Mathematics</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Physics</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Chemistry</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Biology</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown dropend">
						<a class="nav-link dropdown-toggle text-white py-4" data-bs-toggle="dropdown" href="#" role="button" style="text-align: center;
						padding: 15px;" aria-expanded="false">Grade-10</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Mathematics</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Physics</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Chemistry</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Biology</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown dropend">
						<a class="nav-link dropdown-toggle text-white py-4" data-bs-toggle="dropdown" 	href="#" role="button" style="text-align: center;
						padding: 15px;" aria-expanded="false">Grade-11</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Mathematics</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Physics</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Chemistry</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Biology</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-9 overflow-auto h-100 py-5">
			<div class="row text-dark">
				{% for file in files %}
					<div>
						<a href="#">{{ file.FileName }}</a>
						<small>{{ file.DateCreated.strftime('%Y-%m-%d') }}</small>
						<small>By {{file.teacher.name}}</small>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock header %}